	


<!--       	<button ng-click="Login()" class="botones" ui-sref="login">Login</button>
    	<button ng-click="register()" class="botones" ui-sref="registro">Registrarse</button> -->
<div class="container">

		<ul class="nav navbar-nav estil">

        <li class="lado"><a ui-sref="login" ng-click="Login()">Ingresar</a> </li>
        <li class="lado"><a ui-sref="registro" >Crea una cuenta</a></li>
    </ul>
</div>
<nav class="navbar navbar-inverse">
<h1 class="blank">Empresa de veenta</h1>
</nav>
<div class="container">
	<h1>Prestamos servicios </h1>
	<div class="col-md-8">
		Luna de Cuentos ha adaptado los cuentos tradicionales para que su nivel de dificultad en la lectura sea adecuado para todas las edades. Entre los cuentos populares propuestos encontrarás, por ejemplo, adaptaciones de los cuentos de los hermanos Grimm, algunos de los cuentos clásicos más conocidos.

El placer de la lecturaa través de las historias clásicas

Inculcar a los más pequeños el placer de la lectura desde edades tempranas posee una gran importancia si se desean arraigar buenos hábitos. Enseñarles que pueden viajar a mil mundos, descubrir increíbles lugares, simpatizar con personajes, etc. Todo sin moverse del sitio. La lectura fomenta la curiosidad e imaginación de los niños, volviéndolos personas más activas intelectualmente. Para iniciarse en este fantástico mundo, los cuentos clásicos para niños presentados por Luna de Cuentos suponen un perfecto primer paso. Si tus hijos son algo mayores, no te preocupes, también ponemos a tu disposición cuentos clásicos para niños, largos y, aun así, adaptados a sus edades. Disfruta de los relatos recogidos en los cuentos clásicos para niños, aquellos que te enseñaron importantes lecciones y, ahora, podrán ayudar también a tus pequeños.
	</div>
</div>