  
  <div class="title">
    <h1>Login</h1>
</div>
    <div class="right">
    	<div class="formBox">
       		 <form>
       		 	<p>Username</p>
       			<input type="text" ng-model="username" placeholder="Username" name="usuario">
        	   	<p>Password</p>
      		    <input type="Password" ng-model="password" placeholder="Password" name="contrasena"> 
         		<input type="submit" ng-click="Login()" value="Ingresar">
        		<a href="#">Olvidaste tu contraseña ? </a>
        	</form>      
    	</div>     
    </div>