
<!-- <button class="btn btn-primary" ng-click="showModal()"> Enviar</button> -->
	
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="" data-target="#myModal">Watch</button> -->

  <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog" >
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title text-center">Codigo de Confirmacion</h4>
              </div>
              <div class="modal-body">
 				<input class="inputs" type="text" name="nombre">
              </div>
              <div class="modal-footer">
                
                <button type="button" class="btn btn-default" data-dismiss="modal">enviar</button>
              </div>
            </div>
            
          </div>
        </div>
        


<div class="container">
	<h2>Empresa de Ventas</h2>
	<hr>	
	<div class="col-md-6">
			<form role="form" name="formulario" class="col-md-10">
			<h3>Registrate Gratis !!</h3>
			<p>...............................................................................................</p>
			<div class="form-group">
				<label for="inputNombre">Nombre</label>
				<input id="inputNombre" type="text" class="form-control" placeholder="Ingrese su Nombre">	

			</div>
			<div class="form-group">
				<label for="inputPassword">Clave</label>
				<input id="inputPassword" type="Password" class="form-control" placeholder="Ingrese su clave">	
			</div>
			<div class="form-group">
				<label for="inputRepetida">Escriba muevamente su contraseña</label>
				<input id="inputRepetida" type="Password" class="form-control" placeholder="Vuelva a ingresar su clave">	
			</div>
			<div class="form-group">
				<label for="inputCorreo">Correo</label>
				<input id="inputCorreo" type="Email" class="form-control" placeholder="Ingrese su Correo">	
			</div>
			<button type="button" class="btn btn-primary" data-toggle="modal" ng-click="" data-target="#myModal">Enviar</button>
		</form>

	</div>
	<div class="col-md-6">
	<div class="text-center">
		<img src="imagenes/maid.jpg">
	</div>
	
	</div>

</div>



